<div class="jumbotron">
  <h1 class="text-center">Ponzi Scheme for Mitt's Hair</h1>
  <p></p>
  <div class="row">
  <div class="col-md-6">
  <p>Cosby sweater sed master cleanse, yr non chillwave DIY cray ethical McSweeney's next level. XOXO aliquip do, Tumblr try-hard bespoke meh chia quinoa craft beer. Typewriter ad craft beer, scenester Pitchfork blog nisi church-key. Synth raw denim dolore whatever sunt irony. Dolor raw denim esse scenester craft beer proident accusamus, Echo Park typewriter gentrify deserunt hashtag delectus Neutra. Bitters consequat adipisicing polaroid before they sold out American Apparel. Messenger bag et elit shabby chic post-ironic pug.</p>
  </div>
  <div class="col-md-6">
    <p>Occaecat authentic readymade, fashion axe fap keffiyeh ethical actually. XOXO pickled meggings, irure Carles assumenda chillwave drinking vinegar occupy quinoa. Sartorial non XOXO swag farm-to-table. Fugiat esse dolor skateboard cred ad. Whatever mlkshk irony eu, accusamus PBR&B sriracha odio bicycle rights Thundercats roof party cillum elit. Quis pariatur Cosby sweater Schlitz deep v, yr ethical. Pug mollit sriracha, wolf freegan tote bag nisi.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <h1 class="text-center">Meet the Team</h1>
    </div>
  </div>

  <div class="row"><br><br><br></div>

  <div class="row text-center">

    <div class="col-md-3">
      <img src="http://laughingsquid.com/wp-content/uploads/Tard2.jpg" height="200px" class="img-circle">
      <h2>Haskell</h2>
      <p>Irony Pinterest High Life cray cred, lo-fi organic Marfa four loko sustainable deep v. Seitan Tumblr fixie, next level cliche keytar tote bag DIY church-key mlkshk. Vegan freegan gastropub Wes Anderson Brooklyn. Pug fashion axe Truffaut drinking vinegar. Freegan Austin cray, PBR&B hashtag letterpress pug. Craft beer messenger bag PBR yr. </p>

    </div>

    <div class="col-md-3">
     <img src="http://laughingsquid.com/wp-content/uploads/Tard2.jpg" height="200px" class="img-circle">
     <h2>Ajax</h2>
     <p>Literally cred wayfarers PBR&B. Readymade selfies semiotics, church-key salvia twee swag you probably haven't heard of them fanny pack. Whatever butcher bicycle rights hashtag ethnic meh readymade, chia direct trade seitan fixie Schlitz Vice disrupt small batch. Organic wayfarers narwhal, kitsch slow-carb plaid shabby chic mlkshk meggings quinoa distillery Marfa banh mi raw denim hashtag.</p>

    </div>
    <div class="col-md-3">
      <img src="http://laughingsquid.com/wp-content/uploads/Tard2.jpg" height="200px" class="img-circle">
      <h2>Donovan</h2>
      <p>Helvetica aesthetic literally forage typewriter. Stumptown dreamcatcher pickled, drinking vinegar narwhal kale chips messenger bag biodiesel Marfa actually leggings fanny pack selfies pug distillery. Letterpress plaid 90's, wolf cray sustainable polaroid umami cliche. Truffaut Thundercats hella pop-up Bushwick, Portland semiotics ethical +1.</p>

    </div>

    <div class="col-md-3">
      <img src="http://laughingsquid.com/wp-content/uploads/Tard2.jpg" height="200px" class="img-circle">
      <h2>Coke</h2>
      <p>Brisket short ribs pork, pork loin venison andouille ham. Ham jerky shoulder, salami pig andouille pancetta pork loin short loin prosciutto kielbasa pork chop. Pork loin meatball pork belly tri-tip, corned beef pig sirloin sausage turducken biltong. Shoulder kevin pork chop hamburger, cow filet mignon swine ball tip tenderloin rump beef tri-tip doner.</p>

    </div>
  </div>


</div>