<div id="grumpy-carosuel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#grumpy-carosuel" data-slide-to="0" class="active"></li>
    <li data-target="#grumpy-carosuel" data-slide-to="1"></li>
    <li data-target="#grumpy-carosuel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('internet-famous-grumpy-cat-just-landed-an-endorsement-deal-with-friskies.jpg') %>
      <div class="carousel-caption">
        <h3>The Grumpiest Cat</h3>
        <p>Grumpier than ever before.</p>

      </div>
    </div>

    <div class="item">
      <%= image_tag('Grumpy-Cat-01.jpg') %>
      <div class="carousel-caption">
        <h3>The Grumpiest Cat</h3>
        <p>Grumpier than ever before.</p>

      </div>
    </div>

    <div class="item">
      <%= image_tag('Grumpy-Cat-in-Space.jpg') %>
      <div class="carousel-caption">
        <h3>The Grumpiest Cat</h3>
        <p>Grumpier than ever before.</p>

      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#grumpy-carosuel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#grumpy-carosuel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row">



  <div class="col-md-9">
    <h2 id="bacon-ipsum" >Bacon ipsum dolor sit amet flank frankfurter</h2>
    <p>Bacon ipsum dolor sit amet flank <a href="#" class="explainer" title="frank路furt路er  [frangk-fer-ter]
noun
a small, cooked and smoked sausage of beef or beef and pork, with or without casing; hot dog; wiener.">frankfurter</a> pancetta sirloin shoulder fatback. Leberkas flank chuck salami ham hock tenderloin ball tip drumstick spare ribs. Jerky sausage shank meatloaf sirloin. Salami doner flank andouille swine meatloaf shoulder strip steak jowl drumstick leberkas prosciutto
Fixie sriracha four loko pour-over lo-fi. Typewriter Cosby sweater hella, mlkshk iPhone Bushwick deep v Echo Park ethical before they sold out Thundercats cliche hashtag sustainable. Mumblecore ennui Helvetica single-origin coffee craft beer Austin. Viral Tonx skateboard, fap YOLO ennui paleo twee messenger bag chia kitsch umami pug cray. Selfies tattooed pop-up food truck meh cred, street art you probably haven't heard of them. Retro tofu banh mi, McSweeney's aesthetic Carles drinking vinegar church-key twee master cleanse 3 wolf moon tote bag cray Williamsburg. Put a bird on it meh polaroid PBR&B, Carles retro tote bag literally plaid street art vegan disrupt photo booth.

Raw denim fingerstache DIY, flexitarian Echo Park direct trade synth. Small batch Wes Anderson mlkshk, direct trade trust fund before they sold out literally lomo blog synth Neutra single-origin coffee. Post-ironic mlkshk flexitarian, scenester deep v DIY literally vegan fap typewriter food truck sriracha Tonx chia PBR. Literally fingerstache letterpress next level. Tattooed YOLO lo-fi, letterpress cray Bushwick sartorial mumblecore farm-to-table PBR whatever. Hoodie salvia chambray readymade, roof party PBR&B tofu pickled. Asymmetrical Tumblr meh, fingerstache pug squid roof party drinking vinegar.

Shoreditch umami mixtape twee swag Thundercats pop-up cliche. Kogi farm-to-table mustache wayfarers food truck Etsy, fashion axe chia irony mixtape. Banjo DIY 8-bit, Shoreditch tote bag Portland bicycle rights hoodie ethical vegan wayfarers single-origin coffee slow-carb PBR&B occupy. Wayfarers High Life Echo Park small batch Etsy 8-bit. Trust fund lo-fi church-key vegan master cleanse fingerstache, try-hard squid kitsch wolf Blue Bottle Thundercats. Ethical paleo forage occupy craft beer, Banksy sriracha roof party before they sold out hoodie freegan Tonx. Put a bird on it jean shorts Carles cornhole.

Brunch artisan ennui kogi. Shabby chic polaroid Bushwick cornhole, gluten-free paleo fap vegan. Fixie Helvetica narwhal distillery, scenester iPhone art party cliche. Freegan bespoke keytar, shabby chic polaroid Vice kogi gastropub PBR&B. Selfies bitters PBR&B, tofu authentic salvia hashtag Helvetica synth YOLO aesthetic Shoreditch put a bird on it. Semiotics selvage ennui chia 90's Vice letterpress kale chips pug, plaid Portland retro swag Schlitz polaroid. Art party tote bag seitan pug sriracha street art.

Master cleanse forage distillery, kitsch letterpress skateboard bitters meggings pickled you probably haven't heard of them slow-carb. Thundercats messenger bag photo booth Godard locavore. Sartorial YOLO Williamsburg semiotics, sriracha paleo raw denim Helvetica fap craft beer Brooklyn fashion axe. Stumptown retro Thundercats meggings drinking vinegar Etsy pork belly meh, polaroid Schlitz chia scenester normcore umami. You probably haven't heard of them Neutra actually Cosby sweater, Austin Blue Bottle keytar normcore single-origin coffee 90's master cleanse pork belly slow-carb. Viral swag fap Austin. Carles ennui lo-fi narwhal disrupt, DIY single-origin coffee +1 slow-carb.

Distillery scenester narwhal, fanny pack Banksy put a bird on it kogi roof party direct trade bitters organic slow-carb Vice shabby chic tote bag. Single-origin coffee small batch letterpress, Blue Bottle Neutra tattooed umami Bushwick salvia +1 artisan. Intelligentsia normcore meh, artisan 90's cred kogi slow-carb drinking vinegar polaroid Schlitz Williamsburg pour-over skateboard American Apparel. Readymade tofu plaid normcore, selfies irony street art chambray fashion axe Marfa artisan raw denim semiotics fanny pack. Roof party fixie actually letterpress selvage kale chips. Mumblecore Neutra fingerstache hoodie. Brunch Pitchfork direct trade scenester, single-origin coffee distillery hella PBR&B irony farm-to-table swag forage church-key.

Stumptown selvage ethnic, tousled raw denim plaid dreamcatcher master cleanse salvia distillery VHS. Four loko food truck swag actually, roof party forage sartorial direct trade PBR mumblecore. Schlitz squid readymade dreamcatcher, asymmetrical skateboard church-key actually hoodie deep v hella Intelligentsia PBR&B. Letterpress farm-to-table viral 8-bit, normcore stumptown tofu yr cardigan flannel. Meh paleo DIY, American Apparel PBR cornhole cliche. Brooklyn ennui PBR&B seitan gastropub semiotics, selvage forage mlkshk chambray yr photo booth tofu. Shabby chic try-hard selvage vegan, literally cred kale chips..</p>
    <p>Biltong ground round kevin frankfurter tenderloin venison filet mignon leberkas strip steak. Spare ribs ham t-bone prosciutto chuck, strip steak kielbasa frankfurter jerky cow shoulder tenderloin. Bacon rump kevin frankfurter beef ribs pork loin, andouille corned beef <a href="#" class="explainer" title="bris路ket  [bris-kit]
noun
1.
the breast of an animal, or the part of the breast lying next to the ribs.">brisket</a>. Kevin pastrami ham hock pancetta cow kielbasa landjaeger tail turkey flank meatloaf leberkas.

</p>



    <h2 id="spare-ribs">Spare ribs meatball shank, sausage fatback brisket</h2>
    <p>Spare ribs meatball shank, sausage fatback brisket leberkas salami prosciutto ham hock. Biltong pork frankfurter tail landjaeger. Pancetta shankle t-bone tri-tip chicken. Landjaeger chuck tenderloin beef ribs shank <a href="#" class="explainer" title="meat路ball  [meet-bawl]
noun
1.
a small ball of ground meat, especially beef, often mixed with bread crumbs, seasonings, etc., before cooking.">meatball</a>. Sausage chuck pork loin, shoulder boudin tenderloin spare ribs short ribs ham tri-tip ribeye. Pork belly ball tip tri-tip short ribs boudin, pork loin leberkas bresaola.</p>
    <p>Filet mignon brisket ham prosciutto pork, swine ground round. Filet mignon doner shoulder, turkey boudin tenderloin rump swine tail t-bone ham chicken pork belly. Flank strip steak corned beef sirloin shankle drumstick, beef ribs filet mignon salami. Corned beef pork chop bacon flank. Meatball salami bacon flank brisket.
      Fixie sriracha four loko pour-over lo-fi. Typewriter Cosby sweater hella, mlkshk iPhone Bushwick deep v Echo Park ethical before they sold out Thundercats cliche hashtag sustainable. Mumblecore ennui Helvetica single-origin coffee craft beer Austin. Viral Tonx skateboard, fap YOLO ennui paleo twee messenger bag chia kitsch umami pug cray. Selfies tattooed pop-up food truck meh cred, street art you probably haven't heard of them. Retro tofu banh mi, McSweeney's aesthetic Carles drinking vinegar church-key twee master cleanse 3 wolf moon tote bag cray Williamsburg. Put a bird on it meh polaroid PBR&B, Carles retro tote bag literally plaid street art vegan disrupt photo booth.

      Raw denim fingerstache DIY, flexitarian Echo Park direct trade synth. Small batch Wes Anderson mlkshk, direct trade trust fund before they sold out literally lomo blog synth Neutra single-origin coffee. Post-ironic mlkshk flexitarian, scenester deep v DIY literally vegan fap typewriter food truck sriracha Tonx chia PBR. Literally fingerstache letterpress next level. Tattooed YOLO lo-fi, letterpress cray Bushwick sartorial mumblecore farm-to-table PBR whatever. Hoodie salvia chambray readymade, roof party PBR&B tofu pickled. Asymmetrical Tumblr meh, fingerstache pug squid roof party drinking vinegar.

      Shoreditch umami mixtape twee swag Thundercats pop-up cliche. Kogi farm-to-table mustache wayfarers food truck Etsy, fashion axe chia irony mixtape. Banjo DIY 8-bit, Shoreditch tote bag Portland bicycle rights hoodie ethical vegan wayfarers single-origin coffee slow-carb PBR&B occupy. Wayfarers High Life Echo Park small batch Etsy 8-bit. Trust fund lo-fi church-key vegan master cleanse fingerstache, try-hard squid kitsch wolf Blue Bottle Thundercats. Ethical paleo forage occupy craft beer, Banksy sriracha roof party before they sold out hoodie freegan Tonx. Put a bird on it jean shorts Carles cornhole.

      Brunch artisan ennui kogi. Shabby chic polaroid Bushwick cornhole, gluten-free paleo fap vegan. Fixie Helvetica narwhal distillery, scenester iPhone art party cliche. Freegan bespoke keytar, shabby chic polaroid Vice kogi gastropub PBR&B. Selfies bitters PBR&B, tofu authentic salvia hashtag Helvetica synth YOLO aesthetic Shoreditch put a bird on it. Semiotics selvage ennui chia 90's Vice letterpress kale chips pug, plaid Portland retro swag Schlitz polaroid. Art party tote bag seitan pug sriracha street art.

      Master cleanse forage distillery, kitsch letterpress skateboard bitters meggings pickled you probably haven't heard of them slow-carb. Thundercats messenger bag photo booth Godard locavore. Sartorial YOLO Williamsburg semiotics, sriracha paleo raw denim Helvetica fap craft beer Brooklyn fashion axe. Stumptown retro Thundercats meggings drinking vinegar Etsy pork belly meh, polaroid Schlitz chia scenester normcore umami. You probably haven't heard of them Neutra actually Cosby sweater, Austin Blue Bottle keytar normcore single-origin coffee 90's master cleanse pork belly slow-carb. Viral swag fap Austin. Carles ennui lo-fi narwhal disrupt, DIY single-origin coffee +1 slow-carb.

      Distillery scenester narwhal, fanny pack Banksy put a bird on it kogi roof party direct trade bitters organic slow-carb Vice shabby chic tote bag. Single-origin coffee small batch letterpress, Blue Bottle Neutra tattooed umami Bushwick salvia +1 artisan. Intelligentsia normcore meh, artisan 90's cred kogi slow-carb drinking vinegar polaroid Schlitz Williamsburg pour-over skateboard American Apparel. Readymade tofu plaid normcore, selfies irony street art chambray fashion axe Marfa artisan raw denim semiotics fanny pack. Roof party fixie actually letterpress selvage kale chips. Mumblecore Neutra fingerstache hoodie. Brunch Pitchfork direct trade scenester, single-origin coffee distillery hella PBR&B irony farm-to-table swag forage church-key.

      Stumptown selvage ethnic, tousled raw denim plaid dreamcatcher master cleanse salvia distillery VHS. Four loko food truck swag actually, roof party forage sartorial direct trade PBR mumblecore. Schlitz squid readymade dreamcatcher, asymmetrical skateboard church-key actually hoodie deep v hella Intelligentsia PBR&B. Letterpress farm-to-table viral 8-bit, normcore stumptown tofu yr cardigan flannel. Meh paleo DIY, American Apparel PBR cornhole cliche. Brooklyn ennui PBR&B seitan gastropub semiotics, selvage forage mlkshk chambray yr photo booth tofu. Shabby chic try-hard selvage vegan, literally cred kale chips.

</p>



    <h2 id="venison-corned">Venison corned beef rump pork capicola sausage pig pork loin</h2>
    <p>Bacon ipsum dolor sit amet filet mignon brisket chuck, capicola ribeye tenderloin bresaola beef. Pastrami pork belly brisket, jowl kevin pork spare ribs bacon boudin corned beef pig sausage ham hock porchetta. Tail chuck corned beef frankfurter, turducken bresaola turkey pancetta ham hock meatball. Spare ribs landjaeger brisket, pork ribeye swine beef ribs filet mignon.</p>
    <p>Frankfurter shankle filet mignon pancetta, brisket beef strip steak doner corned beef sausage biltong capicola shank kielbasa tail. Pork loin salami strip steak, fatback short loin brisket turkey tail sausage chuck. Tri-tip pork loin landjaeger spare ribs. Meatball filet mignon porchetta bresaola tri-tip shankle chuck ball tip short ribs, hamburger pig. Pig venison short loin pork belly ham kielbasa chuck pork turkey prosciutto cow.</p>
  </div>

  <div class="col-md-3">
    <div class="navbar-example" id="my-affix">
        <ul class="nav" id="sidebar-nav">
            <li><a href="#bacon-ipsum">Bacon Ipsum</a></li>
            <li><a href="#spare-ribs">Spare Ribs</a></li>
            <li><a href="#venison-corned">Venison Corned Beef</a></li>
        </ul>
    </div>
  </div>

</div>